# App
NODE_ENV=mode-app
PORT=backend-port
HOSTNAME=backend-host
CLIENT_URL=frontend-url
CLIENT_PROFILE_URL=frontend-url-set-forget-new-password
ADMIN_PASS=admin-password
API_URL=full-backend-url
USER_DEFAULT_PASS=default-password-user

# Expires
EXPIRES_USER_VERIFY=expire-verify-user-account
EXPIRES_USER_REMOVE_VERIFY=expire-remove-verify-user-account
EXPIRES_USER_RESET_PASSWORD_VERIFY=expire-reset-password-verify
EXPIRES_USER_VERIFY_UNIT_CASE=types-times:m-minute,h-hour
EXPIRES_USER_REMOVE_VERIFY_UNIT_CASE=types-times:m-minute,h-hour
EXPIRES_USER_RESET_PASSWORD_VERIFY_UNIT_CASE=types-times:m-minute,h-hour

# SESSION
JWT_ACCESS_KEY=secret-key-access-token
JWT_REFRESH_KEY=secret-key-refresh-token
JWT_ACCESS_EXPIRES=expire-access-token
JWT_REFRESH_EXPIRES=expire-refresh-token
JWT_ACCESS_EXPIRES_UNIT_CASE=types-times-expire-token
JWT_REFRESH_EXPIRES_UNIT_CASE=types-times-expire-token


# Email provider
SMTP_HOST=smtp.mail.me.com
SMTP_PORT=587
SMTP_USER=your-email
SMTP_PASSWORD=your-secret-key-email-app

# Database
DB_HOST=db-host
DB_PORT=db-port
DB_NAME=db-name
DB_USER=db-user
DB_PASSWORD=db-password